@charset "UTF-8";
*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  background-image: url(images/balanca.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main{
  background-color: #f2f2f2e5;
  width: 480px;
  height: 480px;
  margin: 5% auto;
  border-radius: 1.5em;
}

#formulario{
  display: inline-block;
  width: 15em;
  height: 15em;
  margin: 2.5em; 
}
input {
  text-align: center;
  font-size: 0.7em;
  font-weight: bold;
  width: 50px;
  height: 40px;
  line-height: 28px;
  padding: 0 2rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #cad996b4;
  color: #0d0c22;
  transition: .3s ease;
 }


 /*ESTILIZAÇÃO DO INPUT*/
 input:focus, input:hover {
  outline: none;
  border-color: #05aff2c9;
  background-color: #CAD996;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}
form, p{
  
  text-align: center;
}
p{
  margin-top: 5%;
  font-weight: bold;
}

/*ESTILIZAÇÃO DO BOTÃO*/
button{
    margin-top: 2em;  
    background: #CAD996;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    width: 50%;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
  }
  span {
    display: inline-block;
    transform: skew(21deg);
  }
  button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: #025920;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }
  button:hover {
    color: #fff;
  }
  button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }

  /*MEDIA QUERIES*/

/* w 320 h 568*/
@media only screen and (max-width: 320px){}

  /*w 375 h 667*/
  @media only screen and (max-width: 375px) {}

    /*w 1024 h 768*/
    @media only screen and (max-width: 1024px) {} 

      /*w 1440 h 900*/
      @media only screen and (max-width: 1440px) {}

        /*w 1680 h 1050*/
        @media only screen and (max-width: 1680px) {} 
  
 